.slider{
    border: 1px solid red;
    display: flex;
    gap: 2rem;
    overflow: scroll;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider > span{
    display: inline-block;
    min-width: max-content;
    border: 1px solid green;
    border-radius: 3px;
    padding: 0.3rem 0.7rem;
}