.slider{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    gap: 2rem;
    overflow: scroll;
    padding: 1rem;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider > span{
    display: inline-block;
    min-width: max-content;
    background: hotpink;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
}